<h1>Schedules#index</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>プレー日</th>
        <th>ﾏｰｸ１</th>
        <th>ﾏｰｸ２</th>
        <th>ﾏｰｸ３</th>
        <th>ﾏｰｸ４</th>
        <th>ﾏｰｸ５</th> 
        <th>ﾏｰｸ５</th>
        <th>コメント</th>
      </tr>
    </thead>
    <tbody>
     <% @schedules.each do |schedule| %>  
        <td><%= link_to schedule.id,edit_schedule_path(schedule.id) %></td>
        <td><%= schedule.date %></td>
        <% binding.pry %>
        <% schedule.mark.each.with.index do |mark,i| %>
            <td><%= mark %></td>
        <% end %>
        <td><%= schedule.comment  %></td>
      <% end %>
    </tbody>
  </table>
