<h1>入会申請状況</h1>
<p>退会するときは、会の名前をクリックしてください</p>
<table class="table table-striped border="1" ">
    <thead>
      <tr>
        <th>会の名前</th>
        <th>申請状況</th>
        <th>申請日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
     <% @requests.each do |request| %>
        <tr>
          <td><%= link_to Party.find(request.party_id).name,request_path(request.id) ,method: :delete, data: { confirm: "本当に退会しますか?" }%></td>
          <td><%= request.status %></td>
          <td><%= request.created_at.to_date %></td>
          <td><%= request.updated_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
