<% if current_member == nil %>
<div  class= "text-center">
    <h1>ようこそ!　ごるふの仲間たちへ</h1>
    <p>ゴルフ好きの仲間が、たくさん集まってプレーするのに
    参加者の把握や予約などが、結構面倒だと思います。
    市販のソフトを使っている方々も多いのですが、
    一長一短あり、ゴルフ専用の日程調整ソフトを作ってみました。
    楽にメンバーが集められて、ゴルフの仲間たちの輪が広まることを
    期待しています。</p>
</div>
<% else %>

<p>会を選択して下さい</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>会の名前</th>
        <th>管理者</th>
        <th>ゴルフ場</th>
      </tr>
    </thead>
    <% @parties = Party.all %>
    <tbody>
     <% @parties.each do |party| %>

        <% unless Request.where(party_id: party.id,member_id: current_member.id) == [] %>
          <tr>
            <td><%= link_to party.name , edit_party_path(party) %></td>
            <td><%= Member.find(party.member_id).name %></td>
            <td><%= party.golfcourse_id %></td>
          </tr>
       <% end %> 
      <% end %>
    </tbody>
  </table>
<% end %>
