<h1>会員一覧</h1>
 <table class="table table-striped">
    <thead>
      <tr>
        <th>会の名前</th>
        <th>氏名</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
 
      <% Request.where(party_id: $current_party.id).each do |request| %>
       <% if request.status == '承認' %>
        <tr>
          <td><%= Party.find(request.party_id).name %></td>
          <td><%= link_to Member.find(request.member_id).name, member_path(request.member_id) %></td>
          <td><%= Member.find(request.member_id).email %></td>
        </tr>
       <% end %>
      <% end %>

    </tbody>
</table>